.container {
  display: grid;
}
.content {
  display: grid;
  justify-content: center;

  grid-row-gap: 1em;
  grid-template-columns: 1fr auto .5fr .5fr 2fr;
}
.item-name {
  border-width: 1px 0 1px 1px;
  border-style: solid;
  border-color: black;
  grid-column-start: 2;
  grid-column-end: 3;
  text-align: right;
  padding-left: .5em;
}
.item-sell-in {
  border-width: 1px 0 1px 0;
  border-style: solid;
  border-color: black;
  grid-column-start: 3;
  grid-column-end: 4;
  text-align: center;
}
.item-quality {
  border-width: 1px 1px 1px 0;
  border-style: solid;
  border-color: black;
  grid-column-start: 4;
  grid-column-end: 5;
  text-align: center;
}
.center-text {
  text-align: center;
}